<div class="row">
  <div class="col-md-8">
    <h4>Contact us:</h4>
    <i class="fa fa-phone"></i> 608-304-0773<br />
    <i class="fa fa-envelope"></i> <a href="mailto:chadkosin@gmail.com">chadkosin@gmail.com</a>

  </div>
  <div class="col-md-4 text-right">
      <p>
      <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
      </p>

  </div>


</div>
