@import 'variables.css.scss';
/* custom styles */
body {
  background-color:$main-blue;
}


.carousel-inner {
  min-height:450px;
  h1 {
    color:lighten($main-blue, 20%);
    font-size:84px;
    padding-top:1em;

  }
}
